* {
    background-color: rgb(255, 199, 220);
    margin: 20px 20px 20px 20px;
}

.pagetitle {
    text-align: center;
font-size: 38 px;
    color: rgb(255, 116, 2);
    font-family: monospace;
} 

.intro {
font-family: helvetica;
font-size: 20 px;
background-color: rgb(255, 249, 160);
}


.picture1 {

    padding: 
    margin: 
}


.intro2 {

font-family: helvetica;
font-size: 20 px; 
background-color: rgb(154, 251, 154); 
}
