 *{

    margin: 5px;
}

html body {
   background-color:rgb(255, 211, 227);
}

.pagetitle {
   text-align: center;


    color: rgb(238, 131, 43);
    font-family: monospace;
    margin: 45px;

} 
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 17px;
}

.intro {
font-family: times new roman; 

background-color: rgb(254, 232, 122);

border: 3px solid rgb(255, 191, 0);
text-align: center;

}


.picture1 {

    padding: 20px;
    margin: 20px;
    
   
}

.picture1 img{
 border: 8px solid rgb(255, 110, 192);
}


.intro2 {
    width: 65%; 
    font-family: times new roman; 

background-color: rgb(215, 255, 203);

border: 3px solid rgb(149, 255, 0);
}

.resumelink {
    width: 65%;
    font-family: times new roman; 

background-color: rgb(250, 254, 122);

border: 3px solid rgb(115, 255, 0);
}

.contacts {
    width: 65%;
font-family: times new roman; 

background-color: rgb(115, 255, 0) ;

border: 3px solid rgb(250, 254, 122);
}

.experience {
    width: 65%;
    font-family: times new roman; 
    
    background-color: rgb(198, 240, 254) ;
    
    border: 3px solid rgb(75, 212, 210);  
}


.picture2 {

    padding: 20px;
    margin: 50px;
   
}

.picture2 img {
 border: 8px solid rgb(185, 255, 158);
}

.education {
    margin-left: 40%;
    width: 40%;
    font-family: times new roman; 
    
    background-color: rgb(255, 182, 151) ;
    
    border: 3px solid rgb(233, 106, 78);  
}


.skills {
    margin-left: 40%;
    width: 40%;
    font-family: times new roman; 
    
    background-color: rgb(194, 194, 255) ;
    
    border: 3px solid rgb(132, 170, 250);  

}

.hobbies { 
    width: 60%;
    font-family: times new roman; 
    
    background-color: rgb(244, 201, 203) ;
    
    border: 3px solid rgb(250, 132, 195);    
}