 *{

    margin: 7px;
}

html body {
   background-color:rgb(255, 211, 227);
}

.pagetitle {
   text-align: center;
font-size: 150 px;

    color: rgb(238, 131, 43);
    font-family: monospace;
    margin: 50px;

} 

.intro {
font-family: times new roman; 
font-size: 20 px;
background-color: rgb(254, 232, 122);
margin: 10 px;
padding: 20 px;
border: 5px solid rgb(255, 191, 0);
text-align: center;

}


.picture1 {

    padding: 20px;
    margin: 20px;
    
   
}

.picture1 img{
 border: 5px solid rgb(255, 110, 192);
}

.picture2 {

    padding: 20px;
    margin: 50px;
   
}

.picture2 img {
 border: 5px solid rgb(185, 255, 158);
}

.intro2 {

font-family: arial;
font-size: 20 px; 

}

